asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.6
django-pghistory==3.9.2
django-pgtrigger==4.17.0
django-unfold==0.97.0
docopt==0.6.2
idna==3.18
pipreqs==0.4.13
psycopg2-binary==2.9.12
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
yarg==0.1.10
